html {
    scroll-behavior: smooth;
}

.jaune {
    background-color: #FFE700;
}

.orange {
    background-color: #EE8F00;
}

/* Réinitialisation de base */
body {
    margin-left: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

.bloc-texte {
    max-width: 800px;
    margin-left: 0px ;
}

/* En-tête */
header {
    text-align: center;
    margin-bottom: 20px;
}

.phrase-présentation{
    margin-left: 0px;
}

h1 {
    font-size: 1.8rem;
    font: 'open sans'; 
    src: url('../../fonts/OpenSans-Regular-webfont.woff') format('woff');
    font-weight: bold;
}

.texte{
    font: 'open sans'; 
    src: url('../../fonts/OpenSans-Regular-webfont.woff') format('woff');
    line-height: 1.5;
}

.en-ligne{
    padding-top: 20px;
}

.gras{
font-weight: bold;
}


/* Section Contact */
.contact-section {
    padding: 20px;
    border-radius: 5px;
}

.contact-section h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 0;
}

textarea {
    height: 100px;
    resize: none;
}

.radio-group {
    margin: 10px 0;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

/*Contacter par courrier */
.courrier {
    padding-top: 15px;
    line-height: 1.5;
}

/* Bannières messages d'envoi et d'erreur */
.success-banner {
    background-color: #d4edda;
    color: #155724;
    padding: 1.25rem ;
    margin: 1rem 0;
    border: 1px solid #c3e6cb;
    text-align: center;
    border-radius: 5px;
    font-size: 1.25rem;
}

.error-banner {
    background-color: #f8d7da;
    color: #721c24;
    padding: 1.25rem ;
    margin: 1rem 0;
    border: 1px solid #f5c6cb;
    text-align: center;
    border-radius: 5px;
    font-size: 1.25rem;
}

