html {
    scroll-behavior: smooth;
}

.rose {
    background-color: #EF509F;
}

.bordeau {
    background-color: #A50253;
}

.contenu {
    max-width: 50rem;
    max-height: 40rem;
    transition: transform 0.3s ease;  
    margin:10px 50px 20px 0;
    transition:0.5s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    

}

.p1 {
    font-size: 2rem;
    font-style: bold;
    text-decoration: underline;
    color: black;
}
    
    