/* Footer global */
.footer {
    padding: 80px 0 80px 0;
    font-size: 14px;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: center;
    /* Centre les éléments horizontalement */
    align-items: center;
    /* Centre les éléments verticalement */
    max-width: 1200px;
    /* Largeur maximale du footer */
    margin: 0 auto;
    /* Centre le conteneur horizontalement */
    flex-direction: row;
}

.footer-logo {
    max-width: 150px;
    /* Taille maximale du logo */
    height: auto;
}

.footer-left {
    flex-grow: 1;
    /* Prend tout l'espace restant à droite */
    text-align: left;
    /* Aligne le texte à droite */
    border-left: 1.3px solid rgba(112, 112, 112, 1);
    /* Ajoute un trait noir à gauche */
    padding-left: 10px;
    /* Ajoute un espacement entre le trait et le contenu */
    color: rgba(112, 112, 112, 1);
    display: flex;
    flex-direction: column;
    /* Aligne verticalement */
    gap: 10px;
    /* Ajoute un espace entre les éléments */
    flex-shrink: 0;
    /* Garde la taille de la zone logo fixe */
}

.footer-wrapper {
    display: flex;
    justify-content: center;
    /* Centre le conteneur du footer horizontalement */
}

.footer-right p {
    margin: 5px 0;
    /* Espacement entre les paragraphes */
}

.footer-right a {
    color: #007bff;
    /* Couleur des liens (bleu) */
    text-decoration: none;
    margin: 0 5px;
    /* Espacement horizontal entre les liens */
}

.footer-right a:hover {
    text-decoration: underline;
    /* Style de survol */
}

.space {
    padding-right: 10px;
}

.border {
    border-left: 1.3px solid rgba(112, 112, 112, 1);
    /* Ajoute un trait noir à droite */
    padding-left: 5px;
    /* Ajoute un espacement entre le trait et le contenu */
}

.spaceR {
    padding-right: 5px;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        /* Change layout to column on smaller screens */
    }

    .footer-left {
        text-align: center;
        /* Center text on smaller screens */
        border-left: none;
        /* Remove left border on smaller screens */
        padding-left: 0;
        /* Remove left padding on smaller screens */
    }

    .footer-left p {
        margin: 10px 0;
        /* Adjust margin for paragraphs */
    }
}