html {
    scroll-behavior: smooth;
}

.rouge {
    background-color: rgba(235, 7, 6, 1);
    /* Couleur du rond*/
}

.rf {
    background-color: rgba(165, 2, 83, 1);
    /* Couleur du rond*/
}


.title {
    margin-right: 27rem;
}

.videos {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem 3rem;
    font-size: 1.2rem;
}