html {
    scroll-behavior: smooth;
}

.jaune {
    background-color: #FFE700;
}

.orange {
    background-color: #EE8F00;
}

/* Réinitialisation de base */
body {
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

.bloc-texte {
    max-width: 800px;
    margin: 0 ;
    padding: 20px;
}

/* En-tête */
header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 2rem;
    font-family: open ;
    font-weight: bold;
}

h2 {
    font-size: 2rem;
    font-family: open;
    font-weight: bold;
}

h3{
    font-size: 1.3rem;
    font-family: open;
}

h4{
    font-size: 2rem;
    font-family: open ;
    font-weight: bold;
}

h5{
    font-size: 1.3rem;
    font-family: open;   
}

/* Section Contact */
.contact-section {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
}

.contact-section h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    height: 100px;
    resize: none;
}

.radio-group {
    margin: 10px 0;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

/* Bannières de confirmation et d'erreur */
.success-banner {
    background-color: #d4edda;
    color: #155724;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
}

.error-banner {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
}

/* Pied de page */
footer {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}