html {
    scroll-behavior: smooth;
}

.rose {
    background-color: #EF509F;
}

.bordeau {
    background-color: #A50253;
}

.contenu {
    position: relative;
    display: inline-block;
}

.contenu img {
    width: 100%;
    transition: transform 0.3s ease-in-out;
}

.contenu:hover img {
    transform: scale(1.1);
}

.contenu a {
    display: block;
    font-size: 24px;
    font-weight: bold;
    color: purple;
    text-decoration: none;
    transition: color 0.3s ease;
}

.contenu a:hover {
    color: darkblue;
}
