body {
    font-family: Arial, sans-serif;
}

.titre-page {
font-size: 2rem;
}

.sous-titre-page {
    font-size: 1rem;
    color: rgb(199, 11, 11);
}

.form-container {
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
    text-align: center;
}
.form-group {
    margin-bottom: 15px;
}
label {
    display: block;
    font-weight: bold;
}
input, textarea, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: rgb(13, 132, 50);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: darkblue;
}

.mise-page-radio { 
    display: inline-flex;
    gap: 2px;
    }

.form-align {
    display:inline-flex; 
    align-items: center;         
}    

input[type="radio"] {
    margin: 0; 
    vertical-align: middle;
}