h1 {
    font-weight: bold;
    font-size: 2rem;
}

.box {
    border: 2px solid white;
    margin-bottom: 3rem;
    border-radius: 8px;
}

.box h2 {
    color: #333;
    font-weight: bold;
    font-size: 2rem;
    align-items: flex-start;
    margin-bottom: 1rem;

}

.box p {
    line-height: 1.5;
    font-size: 1.5rem;
}

.contenu {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 20px;
}

.image {
    width: 522px;
    height: 435px;
    object-fit: cover;
    margin-bottom: 10px;
}

.bulle-icone.bleu {
    background-color: #012a37;
}

.bulle-icone-bordure.gris {
    background-color: #c9c9c9;
}

h3 {
    margin-top: 1rem;
    font-weight: bold;
    font-size: 1.5rem;
}