.vert {
    background-color: rgba(12, 238, 192, 1);
    /* Remplacez par la couleur verte exacte de votre maquette */
}

.container {
    max-width: 900px;
    /* Limite la largeur de la zone */
    margin: 20px auto;
    /* Centre la zone sur la page */
    padding: 20px;
    /* Ajoute un espace intérieur */
    font-family: Arial, sans-serif;
    /* Police lisible */
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* Ajoute un espacement de 20px entre les enfants */
}

.menu {
    border: 1px solid rgba(3, 136, 109, 1);
    /* Bordure verte */
    padding: 10px;
    width: 200px;
    background: rgba(249, 249, 249, 1) 0% 0% no-repeat padding-box;
    /* Couleur de fond */
}

.menu a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    font-size: 16px;
    color: rgba(3, 136, 109, 1);
    /* Texte vert */
    transition: color 0.3s;
}

.menu a:hover {
    color: #000;
    /* Change la couleur du texte au survol */
}

.menu a:last-child {
    margin-bottom: 0;
    /* Retire le dernier espace */
}

.text {
    line-height: 1.6;
    /* Espacement des lignes pour améliorer la lisibilité */
    text-align: left;
    /* Justifie le texte */

}

.text>* {
    margin-bottom: 20px;
}

.text>*:last-child {
    margin-bottom: 0;
}

.text ul {
    padding-left: 20px;
    /* Assure un retrait des puces */
    list-style: disc;
    /* Style des puces */
    list-style-position: outside;
    /* Position des puces à l'extérieur */
}

.text li {
    line-height: 1.6;
    /* Ajuste l'espacement des lignes dans les listes */
}

.bold {
    font-weight: bold;
    /* Texte en gras */
}

h2 {
    font-size: 25px;
    /* Taille de la police */
    font-weight: bold;
}